* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

/* header top */
.header-top {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: rgb(56 70 103);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top .header-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .header-top-right a span {
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 0 5px;
}

.header-top .header-top-right a:hover span {
    background: #fff;
    color: rgb(56 70 103);
}

.header-top .header-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .header-top-left div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.header-top .header-top-left div a span {
    margin: 0 5px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}

.header-top .header-top-left div a:hover span {
    background: #fff;
    color: rgb(56 70 103);
}

.header-top .header-top-left div p {
    color: #fff;
    font-size: 13px;
}

/* nav */
.nav {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-right ul li {
    margin: 0 10px;
}

.nav .nav-right ul li a {
    color: #262626;
}

.nav .nav-right ul li a span {
    color: rgb(0, 46, 155);
}

.nav .nav-right ul li a:hover {
    text-decoration: underline;
}

.nav .nav-right ul li a span:hover {
    transform: scale(1.4);
}

/* homepage */
.homepage {
    width: 100%;
    padding: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url('img/homepage.jpg');
    background-position: center;
    background-size: cover;
}

.homepage h1 {
    color: white;
    max-width: 300px;
}

.homepage p {
    color: whitesmoke;
    margin: 10px 0 25px;
    max-width: 500px;
}

.homepage .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage .btn a:nth-child(1) {
    color: #000;
    background: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 5px;
}

.homepage .btn a:nth-child(2) {
    color: #ffffff;
    background: rgb(38 57 103);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 5px;
}

.homepage .btn a:nth-child(1):hover {
    background-color: rgb(38 57 103);
    color: white;
}

.homepage .btn a:nth-child(2):hover {
    background: #fff;
    color: #000;
}

/* main */
main {
    position: relative;
}

.boxes {
    width: 50%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.boxes .box {
    margin: 0 10px;
}

.boxes .box img {
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.boxes .box p {
    color: #fff;
    background: rgb(0, 25, 85);
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

/* div main */
.main {
    margin-top: 200px;
    padding: 0 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main div {
    width: 50%;
    margin: 0 10px;
}

.main .main-left h1 {
    margin: 10px 0;
}

.main .main-left p {
    color: #4e4e4e;
    font-size: 14px;
    margin: 20px 0;
    max-width: 500px;
}

.main .main-left a {
    display: inline-block;
    color: #ffffff;
    background: rgb(38 57 103);
    border: 1px solid rgb(38 57 103);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 5px;
}

.main .main-left a:hover {
    border: 1p solid #000;
    background: #fff;
    color: #000;
}

.main .main-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .main-right img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
/* services */
.services{
    width: 100%;
    padding: 50px;
    background: #d1d1d1;
}
.services h3{
    text-align: center;
    margin-bottom: 10px;
}
.services .s-boxes .s-box span{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}
.services .s-boxes .s-box h1{
    
}
/* Responsive */
@media(max-width:750px) {
    .header-top {
        justify-content: space-between;
    }

    .boxes {
        width: 85%;
    }

    .main {
        justify-content: center;
        flex-direction: column;
    }

    .main .main-right {
        order: 1;
    }

    .main .main-left {
        order: 2;
    }

    .main div {
        margin: 20px 0;
    }

    .main .main-left h1 {
        text-align: center;
    }

    .main .main-left p {
        text-align: center;
    }

    .main .main-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:650px) {
    .header-top .header-top-left div a span {
        font-size: 13px;
    }

    .header-top .header-top-right a span {
        font-size: 13px;
    }

    .header-top .header-top-left div p {
        font-size: 11px;
    }
}

@media(max-width:500px) {
    .header-top .header-top-left div p {
        display: none;
    }

    .main .main-left h1 {
        font-size: 23px;
        min-width: 200px;
    }
}

@media(max-width:350px) {
    .header-top .header-top-left div {
        margin: 0;
    }
}

@media(max-width:300px) {
    .header-top .header-top-right a span {
        font-size: 11px;
    }

    .header-top .header-top-left div a span {
        font-size: 11px;
    }

    .homepage {
        justify-content: center;
        align-items: center;
    }

    .homepage p {
        text-align: center;
    }

    .homepage h1 {
        color: white;
        min-width: 200px;
        text-align: center;
        color: #000000;
    }
}

@media(max-width:250px) {
    .header-top .header-top-right a span {
        border: 0;
        margin: 0;
        font-size: 13px !important;
    }

    .homepage h1 {
        font-size: 24px;
    }
}

@media(max-width:800px) {
    .nav .nav-right ul li a {
        font-size: 14px;
    }
}

@media(max-width:700px) {
    .nav {
        flex-direction: column;
    }

    .nav .nav-right {
        order: 1;
    }

    .nav .nav-left img {
        width: 100px;
    }

    .homepage p {
        max-width: 300px;
    }

    .boxes {
        width: 95% !important;
    }
}

@media(max-width:550px) {
    .nav .nav-right ul {
        display: none;
    }

    .boxes .box:nth-child(3) {
        display: none;
    }
}

@media(max-width:360px) {
    .homepage .btn {
        flex-direction: column;
        align-items: start;
    }

    .homepage .btn a:nth-child(1) {
        margin: 10px 0;
    }
}

@media(max-width:230px) {

    .homepage .btn a:nth-child(1),
    .homepage .btn a:nth-child(2) {
        font-size: 11px;
    }
}

@media(max-width:1100px) {
    .boxes {
        width: 75%;
    }

    .main .main-left h1 {
        font-size: 25px;
    }
}

@media(max-width:370px) {
    .boxes .box:nth-child(1) {
        display: none;
    }
}

@media(max-width:220px) {
    .boxes {
        display: none;
    }

    .main {
        margin-top: 0;
        padding: 10px;
    }
}

@media(max-width:850px) {
    .main .main-left h1 {
        font-size: 23px;
    }
}

@media(max-width:450px) {
    .main .main-left p {
        display: none;
    }

    .main div {
        width: 100%;
    }
}

@media(max-width:270px) {
    .main .main-left h1 {
        min-width: 150px;
    }

    .main .main-left a {
        text-align: center;
    }
}